.languageSwitch {
  background-color: transparent;
  border: 1px solid #5e765e;
  color: #5e765e;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  margin-left: 20px;
}

.languageSwitch:hover {
  background-color: #5e765e;
  color: white;
}
